NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=
NEXT_PUBLIC_APPWRITE_DATABASE_ID=
APPWRITE_STORAGE_BUCKET_ID=
NEXT_PUBLIC_APPWRITE_STORAGE_BUCKET_ID=
NEXT_PUBLIC_APPWRITE_STORAGE_BUCKET_DOC_ID=
APPWRITE_STORAGE_BUCKET_DOC_ID=

APPWRITE_USERS_COLLECTION_ID=users
NEXT_PUBLIC_APPWRITE_USERS_COLLECTION_ID=users
APPWRITE_LIBRARY_COLLECTION_ID=library
NEXT_PUBLIC_APPWRITE_LIBRARY_COLLECTION_ID=library
APPWRITE_CHATS_COLLECTION_ID=chats
NEXT_PUBLIC_APPWRITE_CHATS_COLLECTION_ID=chats
APPWRITE_IMAGE_GENERATION_COLLECTION_ID=image_generation
NEXT_PUBLIC_APPWRITE_IMAGE_GENERATION_COLLECTION_ID=image_generation
APPWRITE_BUG_REPORTS_COLLECTION_ID=bug_reports
NEXT_PUBLIC_APPWRITE_BUG_REPORTS_COLLECTION_ID=bug_reports
APPWRITE_SUBSCRIPTIONS_COLLECTION_ID=subscriptions
NEXT_PUBLIC_APPWRITE_SUBSCRIPTIONS_COLLECTION_ID=subscriptions
APPWRITE_USAGE_LOGS_COLLECTION_ID=usage_logs
NEXT_PUBLIC_APPWRITE_USAGE_LOGS_COLLECTION_ID=usage_logs
APPWRITE_MFA_OTPS_COLLECTION_ID=mfa_otps
NEXT_PUBLIC_APPWRITE_MFA_OTPS_COLLECTION_ID=mfa_otps
APPWRITE_USER_SEEN_UPDATES_COLLECTION_ID=user_seen_updates
NEXT_PUBLIC_APPWRITE_USER_SEEN_UPDATES_COLLECTION_ID=user_seen_updates
APPWRITE_USER_SUBSCRIPTION_STATUS_COLLECTION_ID=user_subscription_status
NEXT_PUBLIC_APPWRITE_USER_SUBSCRIPTION_STATUS_COLLECTION_ID=user_subscription_status
APPWRITE_WEBSITE_CONVERSATIONS_COLLECTION_ID=website_conversations
NEXT_PUBLIC_APPWRITE_WEBSITE_CONVERSATIONS_COLLECTION_ID=website_conversations
APPWRITE_WEBSITE_CREDIT_PACKAGES_COLLECTION_ID=website_credit_packages
NEXT_PUBLIC_APPWRITE_WEBSITE_CREDIT_PACKAGES_COLLECTION_ID=website_credit_packages
APPWRITE_WEBSITE_CREDIT_TRANSACTIONS_COLLECTION_ID=website_credit_transactions
NEXT_PUBLIC_APPWRITE_WEBSITE_CREDIT_TRANSACTIONS_COLLECTION_ID=website_credit_transactions
APPWRITE_WEBSITE_IMAGES_COLLECTION_ID=website_images
NEXT_PUBLIC_APPWRITE_WEBSITE_IMAGES_COLLECTION_ID=website_images
APPWRITE_WEBSITE_PROJECTS_COLLECTION_ID=website_projects
NEXT_PUBLIC_APPWRITE_WEBSITE_PROJECTS_COLLECTION_ID=website_projects
APPWRITE_WEBSITE_USER_CREDITS_COLLECTION_ID=website_user_credits
NEXT_PUBLIC_APPWRITE_WEBSITE_USER_CREDITS_COLLECTION_ID=website_user_credits
APPWRITE_WEBSITE_VERSIONS_COLLECTION_ID=website_versions
NEXT_PUBLIC_APPWRITE_WEBSITE_VERSIONS_COLLECTION_ID=website_versions
APPWRITE_DOCUMENT_CONTEXT_COLLECTION_ID=document_context
NEXT_PUBLIC_APPWRITE_DOCUMENT_CONTEXT_COLLECTION_ID=document_context

GOOGLE_API_KEY=
GOOGLE_API_KEY_2=
GOOGLE_API_KEY_3=
GOOGLE_API_KEY_4=
GOOGLE_API_KEY_5=

GOOGLE_TTS_API_KEY=

GOOGLE_CX_ID=
GOOGLE_CX_ID_2=
GOOGLE_CX_ID_3=
GOOGLE_CX_ID_4=

NEXT_PUBLIC_GEMINI_API_KEY=
NEXT_PUBLIC_GEMINI_API_KEY_2=


OPENROUTER_API_KEY=
OPENROUTER_API_KEY_2=
OPENROUTER_API_KEY_3=
OPENROUTER_API_KEY_4=
OPENROUTER_API_KEY_5=

A4F_API_KEY=
A4F_API_KEY_2=
A4F_API_KEY_3=
A4F_API_KEY_4=

NEXT_PUBLIC_A4F_API_KEY=
NEXT_PUBLIC_A4F_API_KEY_2=
NEXT_PUBLIC_A4F_API_KEY_3=
NEXT_PUBLIC_A4F_API_KEY_4=

NEXT_PUBLIC_A4F_API_ENDPOINT=https://api.a4f.co/v1
# Model for prompt enhancement

A4F_PROMPT_ENHANCEMENT_MODEL=provider-1/gpt-oss-20b
# Model for website generation
A4F_WEBSITE_GENERATION_MODEL=provider-5/gpt-oss-20b

NEXT_PUBLIC_HF_API_KEY=

OPENROUTER_API_KEY=

# GOOGLE_API_KEY=AIzaSyBEllrtfE8HdZbp8s1M2a7V_ok6teOnsP8

INNGEST_SIGNING_KEY=

INNGEST_SERVER_HOST=http://127.0.0.1:8288

NEXTAUTH_URL=http://localhost:3000


RAZORPAY_KEY_ID=rzp_test_RdB9ZUqj0jDNBy
RAZORPAY_KEY_SECRET=60Rtjr4HMZ4C2uLNoW5BMsrz
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_RdB9ZUqj0jDNBy
RAZORPAY_WEBHOOK_SECRET=7RtDNWe@c@3XAre

OPENAI_API_KEY=

INNGEST_EVENT_KEY=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

APPWRITE_LOGIN_ACTIVITY_COLLECTION_ID=login_activity
NEXT_PUBLIC_APPWRITE_LOGIN_ACTIVITY_COLLECTION_ID=login_activity

# ChatBoxAI Model Configuration
CHATBOXAI_API_KEY=
CHATBOXAI_ENDPOINT= 
